@font-face {
    font-family: 'fall is comming';
    src: url('font/FallIsComingRegular-Mx9B.ttf');
}
body, html{
    margin: 0;
}
body{
    background-image: url('images/cardboard_texture_by_fantasystock_d3j3ea5-fullview.jpg');
    background-size:contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
#carta{
    width: 40%;
    margin: 25px;
    padding: 20px;
    border-radius: 15px;
    box-shadow:10px 10px 50px black;
    background-image: url('images/557781_l.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#carta>p{
    font-size: 40px;
    font-family: 'fall is comming';
}