@font-face {
    font-family: 'fall is comming';
    src: url('/font/FallIsComingRegular-Mx9B.ttf');
}
#title{
    margin: 15px;
    text-align: center;
    font-size: 50px;
    font-family: 'fall is comming';
}
#cards{
    justify-content: center;
    display: grid;
    grid-template-columns:auto auto;
    gap: 15px;
}
.card{
    min-width: 250px;
    min-height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    perspective: 1000px;
}

.inner{
    
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.front{
    background-image: url("https://render.fineartamerica.com/images/rendered/default/greeting-card/images/artworkimages/medium/1/paper-board-texture-brett-pfister.jpg?&amp;targetx=0&amp;targety=-100&amp;imagewidth=700&amp;imageheight=700&amp;modelwidth=700&amp;modelheight=500&amp;backgroundcolor=AA8967&amp;orientation=0");
    border-radius: 15px;
}
.back{
    background-color: dodgerblue;
    transform: rotateY(180deg);
    border-radius: 15px;    
    font-size: 40px;
    color: aliceblue;
    font-family: 'fall is comming';
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.back > p{
    padding: 15px;
}
.card:hover .inner {
    transform: rotateY(180deg);
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

